.settings
/Doc/.project
Doc/target
/Tests/TestWeb/*.classpath
/Tests/TestWeb/*.project
/Tests/TestWeb/WebContent/META-INF
/Tests/TestWeb/release.properties
/Tests/*.project
/.project
target
release.properties
